extends layout
block title
  title Bong99 | Account Information
block main
  .container_12
    .account-info-page
      h3.title Thông tin tài khoản
        i.iconsp-medium-dropdown
      .account-info-content
        ul.account-info-left
         li
            label Email / Tên đăng nhập:&nbsp;
            span Mohamad Ibrahim Movic
          li
            label Mật khẩu:&nbsp;
            span 4350*********
            a.edit(href='') edit
          li
           label Số điện thoại:&nbsp;
           span 0123456789
            a.edit(href='') edit
        ul.account-info-right
          li
            label Yahoo:&nbsp;
            span Mohamad_Yeyeye
            a.edit(href='') edit
          li
            label Wechat:&nbsp;
            span Mohamad_012345
            a.edit(href='') edit
          li
            label Số điện thoại:&nbsp;
            span 0123456789
            .comment
              i.iconsp-medium-comment.tooltip
              p.content-tooltip
                | Muốn liên hệ giá?
                br
                | Vui lòng liên hệ hỗ trợ.