extends layout
block title
  title Bong99 | Bet History
block main
  .container_12
    .bet-history-page
      h3.title Lịch sử cá cược hàng ngày
        i.iconsp-medium-dropdown
      .bet-history-content
        .bet-history-left
          .provider
            span Bong88
          .account
            span Chưa có tài khoản
        .bet-history-right
          .provider
            span Sbonet
          .account
            span Chưa có tài khoản
            i.iconsp-medium-question
        .clearfix