extends layout
block title
  title Bong99 | Home
block slider
  .container_12
    section#main-slider
      ul.slider
        li: a(href=''): img(src='images/banner1.png' alt='content banner')
        li: a(href=''): img(src='images/banner2.png' alt='content banner')
        li: a(href=''): img(src='images/banner3.png' alt='content banner')
block main
  section.home-page
    .container_12
      - var object = {}
      - object['sports'] = 'ỉ lệ cược cao nhất giao diện dễ nhìn dễ'
      - object['casino'] = 'đầy đủ các trò chơi sòng bài thực và ảo'
      - object['trợ giúp'] = 'bạn tìm hiểu cách đăng ký & sử dụng 388bet, bong88?'
      - object['hoa hồng'] = 'hoa hồng cực  cách tính hoa hồng x5 x6'
      - object['liên hệ'] = 'hỗ trợ chuyên nghiệp & nhanh chóng hotline 09xxxxxxx yahoo hotro'
      - object['đại lý'] = 'bạn muốn làm giàu'
      each val , index in object
        .grid_4
          article.news
            figure
              a.news-image(href='#')
                img(src='images/banner1.png' height='204' width='328')
              a.news-title(href='#')
                = val
            .news-type.bg-blue
              a(href='#')= index
    .clearfix





