doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    block title
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
    // stylesheet
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,500' rel='stylesheet' type='text/css')
    link(href='css/style.css', type='text/css', rel='stylesheet')
  body
      .container
        header#header
          #menu
            img(src='images/menu.png' width='' height='' alt='bong99')
          figure#logo
            a(href='index.html'): img(src='images/logo.png' width='' height='' alt='bong99')
          #livechat
            a(href="")
              i.iconsp-comment
              span Live Chat
        block main

        block footer
          footer#footer.footer
            .content
              a.btn.btn-blue.help(href="") Trợ giúp
              span Về chúng tôi
              a.btn.btn-blue.contact(href="") Liên hệ
            .copyright
              | 388bet &copy; Copyright 2014.
